/* Illustration component */
.illustration {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}
.illustration img {
    max-width: 90%;
}
@media only screen and (max-width: 800px) {
    .illustration {
        display: none;
    }
}
