.trailor {
    text-align: center;
    width: 100%;
}
.youtube {
    width: 100%;
    height: 700px;
    border: none;
}
@media only screen and (max-width: 800px) {
    .youtube {
        height: 400px;
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    .youtube {
        height: 700px;
    }
}
